<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Placeat ipsa voluptatum sequi praesentium ea mollitia excepturi,
     aperiam quisquam debitis similique minima cum ipsam consequuntur? 
     Expedita voluptate odio id dolor officia!</p>

     <button class="btn btn-secondary" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users Section</button>
     <button class="btn btn-dark" [routerLink]="['/posts']" routerLinkActive="router-link-active" >Posts Section</button>